<img src="public/universe.jpg" alt="">

<div id="base">
  <v-app id="inspire">
    <v-container >
      <v-row class="justify-center"
      >
        <v-col
          cols="12"
        >
          <v-sheet class="py-1"
                   height="300"
          >
          </v-sheet>
        </v-col>

        <v-col
          cols="8"
        >
          <div class="text-h3 text-center py-6">
            Google の使命は、世界中の<span class=" light-blue--text lighten-3">情報</span>を<span class="red--text accent-1">整理</span>し、
            <span class="light-green--text lighten-2">世界中の人がアクセス</span>できて<span class="yellow--text">使える</span>ようにすることです。
          </div>
        </v-col>
        <v-col
          cols="12"
        >
          <v-sheet class="py-1"
                   height="400"
          >
          </v-sheet>
        </v-col>
      </v-row>
    </v-container>
    <v-container fluid>
      <v-row class="justify-center">
        <v-col
          cols="11"
        >
            <v-row no-gutters class="text-center">
              <v-col
                cols="3"

              >
                <div id="home" class="d-flex flex-column justify-center">
                  <div class="home-content wrapper">
                    <h2 class="page-title">We'll Make Your Day</h2>
                    <p>おしゃれなカフェで癒やされてみませんか？無添加の食材で体の中からリフレッシュ。</p>
                    <a class="button" href="menu.html">メニューを見る</a>
                  </div>
                </div>
              </v-col>
              <v-col
                cols="9"
              >
                <div id="home" class="d-flex flex-column justify-center">
                  <div class="home-content wrapper">
                    <h2 class="page-title">We'll Make Your Day</h2>
                    <p>おしゃれなカフェで癒やされてみませんか？無添加の食材で体の中からリフレッシュ。</p>
                    <a class="button" href="menu.html">メニューを見る</a>
                  </div>
                </div>
              </v-col>
            </v-row>
        </v-col>
      </v-row>
      <v-sheet class="py-1"
               height="400"
      >
      </v-sheet>
    </v-container>
    <v-container fluid>
      <v-row class="justify-center">
        <v-col
          cols="11"
        >
          <div id="home">
            <v-row no-gutters class="text-center">
              <v-col
                cols="3"
              >
                <div class="home-wrapper">
                  <div class="home-content">
                    <h2 class="page-title">We'll Make Your Day</h2>
                    <p>おしゃれなカフェで癒やされてみませんか？無添加の食材で体の中からリフレッシュ。</p>
                    <a class="button" href="menu.html">メニューを見る</a>
                  </div>
                </div>
              </v-col>
            </v-row>
          </div>
        </v-col>
      </v-row>
      <v-sheet class="py-1"
               height="400"
      >
      </v-sheet>
    </v-container>
  </v-app>
</div>